<ow-navbar></ow-navbar>
<main>
  <section #home class="wrapper home-component">
    <div class="title">
      <span>Bienvenido a tu aliado, <span class="brand">OpenWorld</span></span>
    </div>
    <div class="image">
      <img
        class="img-responsive"
        src="assets/images/home.png"
        alt="Home image"
      />
    </div>
  </section>
  <div class="divider"></div>
  <section #payments  class="wrapper payments-component">
    <div class="title">
      <span>Nuestras pasarelas de pago</span>
    </div>
    <div class="payments">
      <div *ngFor="let payment of paymentList">
        <img [src]="payment.img" [alt]="payment.alt">
      </div>
    </div>
  </section>
</main>
