h2 {
  font-size: 32px;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  padding: 40px 15px;
  width: min(500px, 100%);

  button {
    font-size: 16px;
    padding-inline: 40px;
  }
}

.info-message {
  color: rgba(0, 0, 0, 0.7);
  transform: translateY(-25px);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.register-form {
  background-color: #f7fcffc4;
  padding-top: 150px;
  padding-bottom: 50px;
  text-align: center;
}

.upload-files {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 30px;
  text-align: center;

  > label {
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(70%, 70%, 70%, 0.6);
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    gap: 10px;
    padding: 10px;
  }

  input[type='file'] {
    display: none;
  }

  .error {
    font-size: 12px;
  }
}

.icon {
  text-align: center;

  > div {
    background-color: #f7f7f7;
    width: 50px;
    height: 50px;
    border-radius: 1000px;
    margin: 0 auto;

    > .mat-icon {
      margin: 13px;
      color: rgb(107, 120, 128);
    }
  }
}
