<h4>Usuarios</h4>

<section class="section-component-header">
  <mat-form-field appearance="fill" color="accent">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" />
    <span matSuffix>
      <span class="material-symbols-outlined">search</span>
    </span>
  </mat-form-field>
  <button mat-raised-button color="accent" (click)="addUser()">
    <span class="material-symbols-outlined">person_add</span>
    Registrar usuario
  </button>
</section>

<table class="custom-table" mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>DNI</th>
    <td mat-cell *matCellDef="let user">{{ user.dni }}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let user">{{ user.name }}</td>
  </ng-container>
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef>Usuario</th>
    <td mat-cell *matCellDef="let user">{{ user.username }}</td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Correo electrónico</th>
    <td mat-cell *matCellDef="let user">{{ user.email }}</td>
  </ng-container>
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef>Rol</th>
    <td mat-cell *matCellDef="let user">{{ user.role }}</td>
  </ng-container>
  <ng-container matColumnDef="lastActivity">
    <th mat-header-cell *matHeaderCellDef>Última actividad</th>
    <td mat-cell *matCellDef="let user">{{ user.lastActivity }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let user">
      <button mat-icon-button (click)="editUser(user)">
        <span class="material-symbols-outlined"> edit_square </span>
      </button>
      <button mat-icon-button (click)="deleteUser(user)">
        <span class="material-symbols-outlined"> delete </span>
      </button>
    </td>
    ks
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
