<section class="about-us-container">
  <div class="row">
    <div>
      <h2>¿Quiénes <span>somos</span>?</h2>
      <article class="about-us-text">
        <p>
          Somos una empresa dedicada a beneficiar a los potenciales clientes que
          necesitan soluciones crediticias, confiando y dándoles oportunidades
          para su mejor desarrollo en sus proyectos personales o empresariales.
        </p>
      </article>
    </div>
    <img src="../../../assets/images/about-us.svg" alt="" height="400">
  </div>
  <h2>¿A qué <span>nos dedicamos</span>?</h2>
  <article class="about-us-text">
    <p>
      Otorgamos préstamos personales para solucionar las necesidades del cliente
      y prestamos empresariales ya sea a pequeñas y medianas empresas para su
      mejor desarrollo y hacer crecer su negocio. Somos una financiera digital,
      sin sucursales, por lo que nos valemos de canales digitales como Email,
      SMS y Marketing Digital para comunicarnos contigo y darnos a conocer.
    </p>
  </article>
  <div class="row">
    <img src="../../../assets/images/vision.svg" alt="" height="400">
    <div>
      <h2>Objetivo</h2>
      <article class="about-us-text">
        <p>
          Brindar la menor tasa del mercado, dar un servicio 100% digital, el monto
          otorgado se deposita directo en tu cuenta, rápidamente. Que el cliente
          crea en nosotros y nosotros en ellos.
        </p>
      </article>
    </div>
  </div>
  <h2>Misión</h2>
  <article class="about-us-text">
    <p>
      Generar oportunidad de inclusión financiera a toda la población de manera
      rápida y responsable. Ofrecer soluciones financieras respaldadas con
      tecnología de ultima generación.
    </p>
  </article>
  <div class="row">
    <div>
      <h2>Visión</h2>
      <article class="about-us-text">
        <p>
          Queremos que tengas una increíble experiencia 100% digital, fácil de usar
          y simple de entender. La visión como empresa suministradora de créditos,
          es facilitar la integración en el mercado de nuestros clientes
        </p>
      </article>
    </div>
    <img src="../../../assets/images/target.svg" alt="" height="400">
  </div>

  <h2>Valores institucionales</h2>
  <article class="about-us-text">
    <p>
      Somos una financiera que ofrece productos financieros innovadores y
      personalizados que atienden la realidad de nuestros clientes para
      ayudarlos a resolver necesidades, concretar sueños y oportunidades. Con la
      misión de generar acceso a herramientas financieras a las población no
      bancarizada. En este sentido, orientados a brindarle la mejor experiencia
      a nuestros clientes la integridad y compromiso es un distintivo de nuestra
      forma de hacer.
    </p>
  </article>
</section>
