/*
==========================================================================
  Text mixins
==========================================================================
*/

// Titles H1
@mixin text-super-title {
  font-size: 6rem;
  font-weight: 700;
  line-height: 7.2rem;
}

// Titles H2
@mixin text-title {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 4.5rem;
}

// Modal title H4
@mixin text-title-modal {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
}

// Table header and Card title - H6
@mixin text-title-table-card {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
}

// Subtitle H3
@mixin text-subtitle {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.6rem;
}

// Modal subtitle - H5
@mixin text-subtitle-sm {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8rem;
}

@mixin text-subtitle-sm-bold {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8rem;
}

@mixin text-normal {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.2rem;
}

@mixin text-normal-bold {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2rem;
}

@mixin text-buttons {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75rem;
}

@mixin text-caption {
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.66rem;
}

@mixin text-overline {
  font-size: 1.4375rem;
  font-weight: normal;
  line-height: 1.725rem;
}
