.border-box {
  box-sizing: border-box;
}

.force-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hidden {
  display: none;
}

.img-responsive {
  height: auto;
  max-width: 80%;
  width: 100%;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-10 {
  margin-top: 10px;
}

.pointer {
  cursor: pointer;
}

.preserve-newlines {
  white-space: pre-wrap;
}

.preserve-nowrap {
  white-space: pre;
}

.w-100 {
  width: 100%;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.section-component-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  > .mat-form-field {
    width: 400px;
  }
}
