<section class="financial-statements-container">
  <h2>Estados <span>financieros</span></h2>
  <article class="financial-statements-text">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi sit,
      quisquam maxime quibusdam accusamus numquam aliquam ab similique quas
      rerum deserunt assumenda, fuga perferendis repellendus saepe incidunt ad,
      aliquid modi.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
      consectetur facere obcaecati iure sint quia saepe nemo fugit soluta? Modi
      reiciendis officiis accusantium suscipit possimus ipsam perferendis
      provident, nam itaque!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
      dolorum perspiciatis reprehenderit eius dolore soluta pariatur tempore
      iusto necessitatibus ipsam, molestiae ducimus nihil corporis? Corrupti
      error aliquam nemo perspiciatis possimus?
    </p>
  </article>
</section>
