<footer class="footer-container">
  <div class="logo">
    <img src="assets/images/logo.png" width="150" />
  </div>
  <div>
    <div class="footer-links">
      <a routerLink="/about-us">¿Quiénes somos?</a>
      <a routerLink="/faq">Preguntas frecuentes</a>
      <a routerLink="/financial-statements">Estados financieros</a>
      <a routerLink="/e-billing">Facturación electrónica</a>
    </div>
    <span class="info">
      <div>
        <mat-icon>location_on</mat-icon>
        Bosque 2a Apartamento 302 Bloques del B 9, Ciudad de Maldonado, Uruguay
      </div>
      <div><mat-icon>support_agent</mat-icon>097111253</div>
    </span>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div>
    <span> © 2023 Open Word. Todos los derechos reservados. </span>
    <div class="social-medias">
      <a href="https://www.facebook.com" target="_blank">
        <img src="assets/images/facebook-icon.svg" width="34" />
      </a>
      <a href="https://www.linkedin.com" target="_blank">
        <img src="assets/images/linkedin-icon.svg" width="34" />
      </a>
      <a href="https://www.instagram.com" target="_blank">
        <img src="assets/images/instagram-icon.svg" width="34" />
      </a>
    </div>
  </div>
</footer>
